/WiproExercise/WiproExercise/WiproExercise.iOS/obj
/WiproExercise/WiproExercise/WiproExercise.iOS/bin
/WiproExercise/WiproExercise/WiproExercise/bin
/WiproExercise/WiproExercise/WiproExercise/obj
/WiproExercise/WiproExercise/WiproExercise.Droid/obj
/WiproExercise/WiproExercise/WiproExercise.Droid/bin
